*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    height: 1000px;
}
/*HEADER*/

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1b162e;
}

.logo{
    margin-left: 15%;
}

.menu{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-evenly;
    margin-right: 5%;
    align-items: center;
}

.menu1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 65%;

}

.a{
    text-decoration: none;
    color: white;
}



.download{
    display: flex;
    padding: 20px;
    height: 30px;
    border: none;
    background-image: linear-gradient(90deg, #9a5bff 10%, #8d49fb 20%, #4f42fff7 75%, #4f42ff 100%);
    color: white;
    align-items: center;
    border-radius: 5px;
}

/*parte 1*/

.parte1{
    display: flex;
    flex-direction: row;
    background-color:  #2c2453;
    height: 66%;
    
}

.right{
    display: flex;
    background-image: url(/style/media/hojas.jpg);
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.cellphone{
    margin-top: 15%;
    margin-right: 25%;
    
}

.left{
    display: flex;
    flex-direction: row;
    width: 50%;
    color: white;
    
    
}

.empty{
    width: 30%;
}

.son1{
    display: flex;
    flex-direction: column;
    padding-top: 40%;
    padding-bottom: 30%;
    width: 70%;
    justify-content: space-evenly;    

}

.product{
    font-size: 6rem;
    margin-bottom: 20%;
}
.big{
    width: 30%;

}

.description{
    width:100%;
    font-size: x-large; 
    margin-bottom: 7%; 
}

.buttons{
    width: 60%;
    display: flex;
    flex-direction: row;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(114, 114, 114);
    padding: 6px;
    border-radius: 5px;

}

.b1{
width: 60%;
background-color: white;
border: none;
border-radius: 5px;
padding-right: 25px;
padding-left: 25px;
padding-top: 8px;
padding-bottom: 8px;
margin-right: 5px;
font-size: large;
}

.fade{
    background: linear-gradient(90deg, rgba(36,0,4,1) 0%, rgba(120,9,121,1) 0%, rgba(255,0,14,1) 37%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.b2{
width: 40%;
color: white;
background-color: transparent;
border-color: white;
border-radius: 5px;
padding-right: 25px;
padding-left: 25px;
padding-top: 8px;
padding-bottom: 8px;
font-size: large;
}

/*parte 2*/

.parte2{
    margin-top: 2%;
    height: 50%;
    width: 100%;
    margin-bottom: 7%;
}
.functionalities{
    display: flex;
    justify-content: center;
    font-size: xxx-large;
    background: linear-gradient(90deg, rgba(36,0,4,1) 0%, rgba(120,9,121,1) 0%, rgb(255, 0, 119) 37%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5%;
}

.son2{
    display: flex;
    width: 100%;
    flex-direction: row;
    
    
}

.left2{
    display: flex;
    width: 60%;
    justify-content: center;
}

.right2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: -4%;
    width: 40%;
    
}

.alpha{
    font-size: xxx-large;
    background: linear-gradient(90deg, rgba(36,0,4,1) 0%, rgba(120,9,121,1) 0%, rgb(255, 0, 119) 37%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.marketing{
   
    font-size: x-large;
    color: rgb(255, 0, 119);
   
}

.text{
    font-size: large;
    width: 59%;
    text-align: justify;
}

.list{
    margin-top: 2%;
 font-size: large;  

}

/*parte 3*/

.parte3{
    background-color:  #2c2453;
    width: 100%;
}

.above{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;

}


.plans{
    font-size: 4rem;
    margin-bottom: 2%;
    margin-top: 2%;
}

.text2{
    width: 48%;
    text-align: center;
    font-size: large;
}

.below2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.container{
    background-color: white;
    width: 20%;
    justify-content: space-evenly;
    border-radius: 5px;
    margin-bottom: 6%;
}

.icon{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 7%;
}

.imgicon{
    display: flex;
    justify-content: center;
}

.hoja{
    display: flex;
    
}
.subtitle{
    text-align: center;
}

.lite{
    background: linear-gradient(90deg, rgba(255,43,158,0) 0%, rgba(255,159,211,1) 0%, rgba(255,43,158,1) 57%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.price{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 7%;
    background-color: rgb(235, 235, 235);
}

.cero{
    font-size: xxx-large;
    margin-right: 5px;
}

.price2{
    height: 40px;
    align-self: center;
}

.options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 12%;
}

.f{
    margin-bottom: -3%;
    align-self: center;
}

.text3{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 10%;
}

.pp{
display: flex;
width: 70%;
}

.subscribe{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(235, 235, 235);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bsubscribe{
    font-size: medium;
    padding: 12px;
    padding-left: 19px;
    padding-right: 19px;
    background-image: linear-gradient(90deg, rgba(255,43,158,0) 0%, rgba(255,159,211,1) 0%, rgba(255,43,158,1) 57%);
    border: none;
    color: white;
    border-radius: 4px;

}

.bb{
    font-size: medium;
    padding: 12px;
    padding-left: 19px;
    padding-right: 19px;
    background-color: #2c2453;
    border: none;
    color: white;
    border-radius: 4px;
}

/*FOOTER*/

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(197, 197, 197);
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.span{
    color: rgb(212, 13, 123);
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.redes{
    margin-right: 2%;
}

.copy{
    width: 50%;
    display: flex;
    justify-content: center;
}

/*RESPONSIVE*/


@media screen and (max-width:992px){
    /*HEADER*/
    .logo{
        margin-left: 0;
    }

    .menu{
        margin-right: 0;
        width: 50%;
    }

    /*PARTE1*/
    .left{
        width: 50%;
    }
    .empty{
        width: 5%;
    }

    .buttons{
        width: 100%;
    }

    /*PARTE2*/
    .parte2{
        height: 45%;
    }

    .laptop{
        width: 542px;
        height: 323px;
    }

    /*PARTE3*/

    .text2{
        width: 75%;
    }

    .container{
        width: 25%;
    }

}

@media screen and (max-width: 768px){
    /*PARTE1*/

    .empty{
        width: 0%;
    }
    .left{
        margin-left: 10px;
    }
    .son1{
        width: 100%;
    }
    .big{
        width: 100%;
    }
    .product{
        width: 100%;
        font-size: 5rem;
    }

    .description{
        font-size: larger;
    }

    .buttons{
        width: 90%;
    }

    .right{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cellphone{
        margin-top: 0%;
        margin-right: 0%;
        
    }

    /*PARTE2*/

    .parte2{
        height: 45%;
        margin-bottom: 3%;
    }
    .laptop{
        width: 512px;
        height: 293px;
    }
    .left2{
        padding-right: 15px;
        padding-left: 15px;
    }
    .alpha{
        font-size: xx-large;
    }

    .text{
        width: 90%;
    }

     /*PARTE3*/
     .plans{
        font-size: 3.5rem;
     }
     .text2{
        width: 90%;
        font-size: large;
     }

     .container{
        width: 28%;
     }

     .cero{
        font-size: xx-large;
     }

     .price2{
        font-size: medium;
     }

     /*FOOTER*/

     .social{
        width: 40%;
     }
     .copy{
        width: 60%;
        margin-left: 7%;
     }

     
}

@media screen and (max-width: 480px) {
        /*HEADER*/
        .header{
            display: flex;
            flex-direction: row;
        }
        .bleux{
            width: 145px;
            height: 56px;
        }
        .logo{
            margin-left: 0;
        }
        
        .menu{
            display: flex;
            flex-direction: row;
            width: 75%;
            justify-content: space-evenly;
            margin-right: 0;
            align-items: center;
            font-size: small;
        }
    
        .menu1{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 65%;
        
        }
    
        /*PARTE1*/
    
        .parte1{
            display: flex;
            flex-direction: row;
            height: 35%;
            
        }
        
        .cellphone{
            margin-top: 0%;
            margin-right: 0%;
            
        }
    
        .telefono{
            width: 164px;
            height: 334px;
        }
        
        .empty {
            width: 0;
        }
        
        .son1{
            display: flex;
            flex-direction: column;
            justify-content: center;  
            align-items: center;
            width: 100%;
        
        }
        
        .product{
            font-size: 3rem;
            margin-bottom: 10%;
            width: 90%;
            }
        .big{
            width: 90%;
            display: flex;
            }
        
        .description{
            width:90%;
            font-size: medium;  
            display: flex;
            justify-content: flex-end;
            text-align: justify;
        }
        
        .buttons{
            width: 90%;
            display: flex;
            flex-direction: row;
        
        }
        
        .b1{
        width: 55%;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size:small;
        }
    
        .b2{
            width: 45%;
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: small;
            }
    
        /*PARTE2*/
    
        .parte2{
            height: 27%; 
        }
        .functionalities{
            font-size: xx-large;
            margin-bottom: 5%;
        }
        
        .left2{
            width: 50%;
            padding-right: 22px;
        }
        .laptop{
            width: 402px;
            height: 173px;
        }
        
        .right2{
            margin-top: -4%;
            width: 50%;
            margin-left: 5px;
            display: flex;
            justify-content: center;
            
        }
        
        .alpha{
            font-size: 1.2rem;
            width: 100%;
        }
        
        .text{
            font-size: smaller;
            width: 90%;
            text-align: justify;
        }
        .marketing{
           
            font-size: large;
        }
        
        
        .list{
            margin-top: 2%;
         font-size: smaller;  
        
        }
    
        /*PARTE3*/
    
        .parte3{
            width: 100%;
            height: 215%;
        }
        
        .above{
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 5%;
        
        }
        
        
        .plans{
            font-size: xxx-large;
            margin-bottom: 2%;
            margin-top: 2%;
        }
        
        .text2{
            width: 90%;
            text-align: justify;
            font-size: medium;
        }
        
        .below2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            
        }
        .container{
            width:75%;
            justify-content: space-evenly;
            border-radius: 5px;
            margin-bottom: 6%;
        }
        
       
      
        
        .cero{
            font-size: xxx-large;
            margin-right: 5px;
        }
        
        .price2{
            height: 40px;
            align-self: center;
            font-size: medium;
        }
        
        .options{
            margin-bottom: 5%;
        }
        
        .f{
            margin-bottom: -3%;
            align-self: center;
            font-size: medium;
        }
        
        .text3{
            text-align: justify;
            width: 100%;
           
            margin-bottom: 10%;
            font-size: medium;
        }
        
        .pp{
        width: 80%;
        }
        
        .bsubscribe{
            font-size: medium; 
        }
        
        .bb{
            font-size: medium;
        }
        
    
        /*FOOTER*/
    
    .social{
        width: 30%;
        margin-right: 2%;
    }
    
    .redes{
        margin-right: 1%;
    }
    
    .copy{
        width: 70%;
        font-size: 0.7rem;
        margin-left: 5px;
    }
    
    .me{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}